.mainContainer {

}


.container__h1 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    padding: 15px;

}

.buttons-section {

}

.playground {

}