* {
    padding: 0;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
}

.backround {
    background-image: linear-gradient(to bottom, #615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    max-width: 350px;
}

.container__img {
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.container__description {
    background-color: #283e50;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.container__h1 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
}

.container__title {
    text-align: center;
    padding: 15px;
    line-height: 1.7;
}

.container__buttons {
    background-color: #283e50;
    width: 100%;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button--rules, .button--startGame {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: #1fcca4;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--startGame {
    background-color: #0197f6; 
}

.button--rules:hover {
    background-color: #1cbb96;
}

.button--startGame:hover {
    background-color: #0090e9;
}